:root {
  font-family: monospace;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  background-color: #f8e1fd;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
